// button css
.contBtn {
  width: 300px;
  height: 50px;
  border: 1px solid #777;

  .btnText {
    display: block;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 14px;
    color: #777;
    span {
      text-transform: uppercase;
    }
  }
  &:hover {
    background-color: #9da592;
    .btnText {
      color: #fff;
    }
  }
}

@media screen and (max-width: $Ltablet) {
  .contBtn {
    width: 200px;
    height: 40px;
  }
}

@media screen and (max-width: $mobile) {
  // button css
  .contBtn {
    width: 100%;
  }
}
