.contents {
	position: relative;
	width: 100%;
	height: calc((100vh - 80px));

	.inner {
		width: 100%;
		height: 100%;
		margin: 0 auto;
		display: flex;
		align-items: center;
		border: 1px solid #777;
		border-top: none;
		&::after {
			@include line;
		}
		.contentsHalf {
			width: 50%;
			height: 100%;
			
		}

		.contentsTitle {
			@include sectionTitle;
		}
	}
}

//반응형 1024px
@media screen and (max-width: $sLaptop) {
	.contents {
		height: calc(100vh - 60px);
		.inner {
			width: 100%;
			.contentsTitle {
				@include sectionTitle($fz: 40px);
			}
		}
	}
}
//반응형 992px
@media screen and (max-width: $Ltablet) {
	.contents {
		height: 600px;
	}
}
//반응형 778px
@media screen and (max-width: $tablet) {
	.contents {
		height: calc(100vh - 60px);
		.inner {
			width: 100%;
			.contentsTitle {
				@include sectionTitle($fz: 30px);
			}
		}
	}
}
//반응형 576px
@media screen and (max-width: $mobile) {
	.contents {
		.inner {
			flex-direction: column;
			&::after {
				@include line($wid: 0);
			}
			.contentsHalf {
				width: 100%;
				height: 50%;
				&:nth-of-type(1) {
					height: 80%;
				}
				&:nth-of-type(2) {
					height: 20%;
				}
			}
			.contentsTitle {
				@include sectionTitle($fz: 24px);
			}
		}
	}
}
