.boardSectionCont {
	margin: 0 -30px 80px;

	.boardCreate {
		border-top: 1px solid $borderColor;
		border-bottom: 1px solid $borderColor;
		height: 300px;
		margin-bottom: 50px;
		display: flex;
		align-items: center;
		.boardImg {
			width: 60%;
			height: 100%;
			background: url(../../../public/img/board-image.jpg) no-repeat center/cover;
			border-right: 1px solid $borderColor;
		}
		.inputBox {
			width: 40%;
			padding: 20px;
			margin: 0 auto;

			input[type='text'],
			textarea {
				width: 100%;
				padding: 8px 10px;
				border: 1px solid $borderColor;
				resize: none;
				margin-bottom: 10px;
				background: transparent;
				&:focus {
					outline: 1px solid $hoverColor;
				}
			}

			.btnSet {
				button {
					width: 130px;
					height: 30px;
					display: inline-block;
					background: $btnColor;
					border: 1px solid $borderColor;
					font-size: 12px;
					color: $textColor;
					cursor: pointer;
					&:hover {
						background: $hoverColor;
						color: #fff;
					}
				}
				button + button {
					margin-left: 20px;
				}
			}
		}
	}
	.boardListWrap {
		margin-bottom: 60px;
		.boardLists {
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			border-top: 1px solid $borderColor;

			.boardList {
				width: 25%;
				border-right: 1px solid $borderColor;
				border-bottom: 1px solid $borderColor;
				padding: 60px 30px 30px;
				&:nth-of-type(4n) {
					border-right: 0;
				}
				.bListBox {
					display: flex;
					justify-content: space-between;
					flex-direction: column;
					min-height: 300px;
					.boxText {
						text-align: center;
						.boardTit {
							@include sectionText($captionFz: 20px, $captionFontColor: $textColor);
							margin-bottom: 20px;
						}
						.boardTxt {
							@include sectionText;
						}
					}
					.btnSet {
						display: flex;
						align-items: center;
						justify-content: flex-end;
						gap: 20px;
						button {
							position: relative;
							border: none;
							background: transparent;
							cursor: pointer;
							svg {
								width: 18px;
								height: 18px;
								color: $textColor;
								transform: scale(1);
								transition: 0.5s;
							}
							&:hover {
								svg {
									color: $hoverColor;
									transform: scale(1.2);
								}
							}
						}
					}
					.listBox {
						input[type='text'],
						textarea {
							width: 100%;
							padding: 8px 10px;
							border: 1px solid $borderColor;
							resize: none;
							margin-bottom: 10px;
							background: transparent;
							color: $borderColor;
							font-size: 12px;
							&:focus {
								outline: 1px solid $hoverColor;
							}
						}
						textarea {
							height: 200px;
						}
						.enableBtnBox {
							display: flex;
							align-items: center;
							justify-content: flex-end;
							gap: 20px;
							button {
								position: relative;
								border: none;
								background: transparent;
								cursor: pointer;
								svg {
									width: 18px;
									height: 18px;
									color: $textColor;
									transform: scale(1);
									transition: 0.5s;
									font-weight: 200;
								}
								&:hover {
									svg {
										color: $hoverColor;
										transform: scale(1.2);
									}
								}
							}
						}
					}
				}
			}
		}
	}

	.pagination {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		.prev,
		.next {
			position: relative;
			width: 10px;
			height: 10px;
			&::after,
			&::before {
				position: absolute;
				content: '';
			}
			&::before {
				width: 100%;
				height: 100%;
				border: 1px solid $textColor;
				border-left: 0;
				border-bottom: 0;
			}
		}
		.prev {
			&::before {
				transform: rotate(225deg);
			}
		}
		.next {
			&::before {
				transform: rotate(45deg);
			}
		}
		.numbers {
			text-align: center;
			padding: 0 20px;
			a {
				display: inline-block;
				width: 20px;
				font-size: 16px;
				font-weight: 400;
				color: $textColor;
				margin: 0 5px;
				transition: 0.5s;
			}
		}
	}
}

/* 
반응형 
$sLaptop : 1024px;
$tablet : 778px;
$mobile : 576px;
*/
@media screen and (max-width: $sLaptop) {
	.boardSectionCont {
		.boardListWrap {
			.boardLists {
				.boardList {
					width: calc(100% / 3);
					&:nth-of-type(4n) {
						border-right: 1px solid $borderColor;
					}
					&:nth-of-type(3n) {
						border-right: 0;
					}
					.bListBox {
						display: flex;
						justify-content: space-between;
						flex-direction: column;
						min-height: 250px;
						.boxText {
							text-align: center;
							.boardTit {
								@include sectionText($captionFz: 18px, $captionFontColor: $textColor);
								margin-bottom: 20px;
							}
							.boardTxt {
								@include sectionText($captionFz: 14px, $captionFontColor: $borderColor);
							}
						}
					}
				}
			}
		}
	}
}
@media screen and (max-width: $tablet) {
	.boardSectionCont {
		.boardCreate {
			flex-wrap: wrap;
			height: auto;
			.boardImg {
				width: 100%;
				height: 300px;
			}
			.inputBox {
				width: 100%;
				.btnSet {
					width: 60%;
					text-align: right;
					button {
						width: 49%;
					}
					button + button {
						margin-left: 2%;
					}
				}
			}
		}
		.boardListWrap {
			.boardLists {
				.boardList {
					width: calc(100% / 2);
					&:nth-of-type(4n) {
						border-right: 1px solid $borderColor;
					}
					&:nth-of-type(3n) {
						border-right: 1px solid $borderColor;
					}
					&:nth-of-type(2n) {
						border-right: 0;
					}
					.bListBox {
						min-height: 200px;
						.boxText {
							.boardTit {
								@include sectionText($captionFz: 16px, $captionFontColor: $textColor);
								margin-bottom: 18px;
							}
							.boardTxt {
								@include sectionText($captionFz: 12px, $captionFontColor: $borderColor);
							}
						}
						.btnSet {
							display: flex;
							align-items: center;
							justify-content: flex-end;
							gap: 12px;
							button {
								position: relative;
								border: none;
								background: transparent;
								cursor: pointer;
								font-size: 12px;
							}
						}
						.listBox {
							textarea {
								height: 120px;
							}
							.enableBtnBox {
								gap: 10px;
								button {
									font-size: 12px;
								}
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: $mobile) {
}
@media screen and (max-width: $sMobile) {
	.boardSectionCont {
		.boardCreate {
			flex-wrap: wrap;
			height: auto;
			.boardImg {
				width: 100%;
				height: 300px;
			}
			.inputBox {
				width: 100%;
				.btnSet {
					width: 60%;
					text-align: right;
					button {
						width: 49%;
					}
					button + button {
						margin-left: 2%;
					}
				}
			}
		}
		.boardListWrap {
			.boardLists {
				.boardList {
					width: 100%;
					border-right: 0;
					&:nth-of-type(3n) {
						border-right: 0;
					}
					.bListBox {
						min-height: 300px;
						.boxText {
							.boardTit {
								@include sectionText($captionFz: 18px, $captionFontColor: $textColor);
								margin-bottom: 18px;
							}
							.boardTxt {
								@include sectionText($captionFz: 14px, $captionFontColor: $borderColor);
							}
						}
						.btnSet {
							gap: 20px;
							button {
								font-size: 16px;
							}
						}
						.listBox {
							textarea {
								height: 200px;
							}
							.enableBtnBox {
								gap: 20px;
								button {
									font-size: 16px;
								}
							}
						}
					}
				}
			}
		}
	}
}
