.navBtns {
	position: absolute;
	bottom: 5vh;
	left: 5vw;
	display: flex;
	gap: 40px;

	li {
		@include sectionSubTitle($subFz: 20px, $fontWeight: 400, $subFontColor: $borderColor);
		cursor: pointer;

		&.on {
			color: $textColor;
		}
	}
}
@media screen and (max-width: $tablet) {
	.navBtns {
		bottom: 2vh;
		left: 3vw;
		display: flex;
		gap: 30px;
		li {
			@include sectionSubTitle($subFz: 16px, $fontWeight: 400, $subFontColor: $borderColor);
		}

	}
}
